<div class="row">
  <div class="col-md-7">
    <a href="#"> <!-- "http://placehold.it/700x300" -->
      <img class="img-fluid rounded mb-3 mb-md-0" src={{photo}} alt="" height="300" width="700">
    </a>
  </div>
  <div class="col-md-5">
    <h3>{{business_name}}</h3>
    <p>{{description}}</p>
    <a class="btn btn-primary" href="#">Book Appointment</a>
  </div>
</div>
<hr>