<ul class="provider-list">
  <li class="provider-item">
    <a href="/auth/google">
      <button class="provider-button google" data-provider-id="google.com">
        <img class="provider-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg">
        <span class="provider-text">Sign in with Google</span>
      </button></a>
  </li>
  <li class="provider-item">
    <a href="/auth/github">
      <button class="provider-button github" data-provider-id="github.com">
        <img class="provider-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/github.svg">
        <span class="provider-text">Sign in with GitHub</span>
      </button></a>
  </li>
  <li class="provider-item">
    <a href="/auth/facebook">
      <button class="provider-button facebook" data-provider-id="facebook.com">
        <img class="provider-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/facebook.svg">
        <span class="provider-text">Sign in with Facebook</span>
      </button></a>
  </li>
</ul>