<ul class="provider-list">
  <li class="provider-item">
    <a href="/auth/google">
      <button class="provider-button google" data-mode="signin" data-provider-id="google">
        <img class="provider-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg">
        <span class="provider-text">Sign in with Google</span>
      </button></a>
  </li>
  <li class="provider-item">
    <a href="/auth/github">
      <button class="provider-button github" data-mode="signin" data-provider-id="github">
        <img class="provider-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/github.svg">
        <span class="provider-text">Sign in with GitHub</span>
      </button></a>
  </li>
  <li class="provider-item">
    <a href="/auth/facebook">
      <button class="provider-button facebook" data-mode="signin" data-provider-id="facebook">
        <img class="provider-icon" alt="" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/facebook.svg">
        <span class="provider-text">Sign in with Facebook</span>
      </button></a>
  </li>
</ul>
<h5 class="separatOR"> - Or - </h1>
<form action="/auth/signin" method="post">
  <input type="email" name="email" class="form-field" placeholder="Email" autocomplete="username email" required>
  <input type="password" name="password" class="form-field" placeholder="Password" autocomplete="current-password" required>
  <input type="submit" value="Sign In">
</form>