<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<title>Barber Scheduler</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	 crossorigin="anonymous">
	<script src="assets/js/javascript.js"></script>
	<link rel="icon" href="./img/favicon.ico" type="image/png" sizes="16x16">
</head>

<body>
	 {{{ body }}}
</body>

</html>